.apiheader{
    display: flex;
    /* flex: 0.1; */
    border: 1px solid black;
    padding: 10rem;
    background-image: url('./vg.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-attachment: fixed;
    
}

.rhyme{
    /* display: flex; */
    /* flex: 0.4; */
    text-align: justify;
    margin: 2 0 2 2;


}
