.apiheader{
    display: flex;
    flex-direction: column;
    /* flex: 0.1; */
    /* border: 1px solid black; */
    padding: 5rem;
    gap: 1rem;
    background-image: url('./vg.jpg');
    background-size: cover; /* Adjust as needed */
    background-position:  center; /* Adjust as needed */
    background-attachment: fixed;
    
}

.rhyme{
    /* display: flex; */
    /* flex: 0.4; */
    text-align: justify;
    /* border: 1px solid black; */
    width: 40%;

    /* margin: 2 0 2 2; */


}
