
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@400;600&display=swap");

:root{
  --header-height: 3rem;
  --body-font: "Poppins", sans-serif;

  --blue-color: #78D3EA;
  --green-color: #A1EEBD;
  --yellow-color:#F6F7C4;
  --pink-color:#F6D6D6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar{
  display: none;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
button,
input,
textarea{
  font-family: bold;
  background-color: rgb(244, 244, 235);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

.flex{
  display: flex;
  gap: 1.5rem;
}
